* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}
@font-face {
    font-family: SortsMillGoudy;
    src: url(../fonts/SortsMillGoudy-Regular.ttf);
}

body {
    font-family: SortsMillGoudy;
}
ul,
ol {
    list-style-type: none;
    line-height: 1.3;
}
ul li,
ol li {
    margin-bottom: 10px;
    font-size: 18px;
}

.description{
    margin-bottom: 30px;
    font-size: 18px;
}

.screen,
.score-value span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.screen-bg{
    background: url(../img/bg-game.png);
}

.screen-start,
.screen-ranking {
    width: 70vw;
    height: 70vh;
}

.screen-game {
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.panel {
    width: 100%;
    padding: 3vh 5vw;
    height: 100%;
}
table {
    overflow-y: auto;
    max-height: 27vh;
    display: block;
    margin-bottom: 2vh;
}
tr > th:nth-child(1),
tr > td:nth-child(1) {
    width: 10%;
    text-align: left;
}
tr > th:nth-child(2),
tr > td:nth-child(2) {
    width: 200px;
    text-align: left;
}
tr > td:nth-child(3) {
    width: 200px;
    text-align: center;
}
td,th {
    line-height: 2;
}
h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

input[type='text'] {
    min-width: 200px;
}

input[type='text'],
input[type='submit'],
button {
    padding: 9px;
}
input[type='submit'],
button {
    background: #778d94;
    color: #fff;
    border: none;
}

.game-panel {
    position: absolute;
    color: #fff;
}
.game-panel-skills {
    right: 30px;
    top: 30px;
}
.game-panel-user {
    left: 30px;
    top: 30px;
}
.game-panel-scores {
    left: 45%;
    top: 5%;

}
.user-info {
    text-transform: uppercase;
    margin-bottom: 7px;
}
.panel-xp,
.panel-mp {
    height: 23px;
    background: white;
    margin-bottom: 4px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    position: relative;
}
.panel-xp {
    width: 200px;
}
.panel-mp {
    width: 176px;
}
.score-value {
    width: 100%;
    height: 100%;
}
.panel-xp .score-value {
    background: #9f000a;
}
.panel-mp .score-value {
    background: #004bb8;
}
.score-value span {
    padding-right: 13px;
}
.game-panel-skills img {
    margin-left: -1px;
}
 
.show {
    z-index: 300;
}

.list{
    position: relative;
    width: 80%;
    height: 100px;
    border: 1px solid black;
}

@keyframes slide {
  from { left: 85%; }
  to { left: 0; }
}

#knight {
    position: absolute;
    bottom: 5%;
    width: 300px;
    height: 300px;
   
}

.dog{
    position: absolute;
    left: 85%;
    bottom: 5%;
    width: 150px;
    height: 150px;   
    animation: 12s linear slide infinite alternate;
    animation-fill-mode: forwards;
}

.timer{
    display: inline-block;
}

#minute, #second, #deaths, .kills{
    display: inline-block;
}